<aside>
    <ul>
        <li>
            <a href="#">
                New Priority
            </a>
        </li>
        <li>
            <a href="#">
                Home
            </a>
        </li>
        <li>
            <a href="#">
                Reports
            </a>
        </li>
        <li>
            <a href="#">
                Team
            </a>
        </li>
        <li>
            <a href="#">
                Settings
            </a>
        </li>
    </ul>
</aside>